// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1400px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #f0eff1;
$background-header: #2C2C32;
$white: #F6F7F9;
$black: #24242a;
$active: #0f7dc6;
$border: #333;
$border-light: #E6E6E6;
$semi-black: #2c2c2c;
$insta: #d62976;
$twitter: #00acee;
$linkedin: #0072b1;
$whats: #128C7E;

$font-color-light: #24242a;
$font-color-dark: #f8f9fa;

$background-light: #FFFFFF;
$background-dark: #333333;

$accent-light: #007BFF;
$accent-dark: #FFC107;

